
/** 
 *  Created on : 9-mag-2015, 3.37.34
 *  Author     : amm-manu
 */

*{
    margin: 0px;
    padding: 0px;
}

img{
    -moz-user-select: none;
    -webkit-user-drag: none;
}

#page{
    font-family: "sans-serif", monospace, serif;
    background-color: white;
    min-height: 100%;
    min-width: 100%;
}

table, td, th{
    border: 2px solid black;
    border-collapse: collapse;
}

.table_player{
    width: 100%;
    text-align: center;
}

.compra_view{
    float:left;
    height: 100%;
    width: 50%;
    display: inline-block;
}

.vendi_view{
    float: right;
    height: 100%;
    width: 50%;
    display: inline-block;
}

form{
    display: table;
}

#loginform > form p{
    display: table-row;
}

.logbutton{
    display: block;
    height: 35px;
    width: 100%;
}

input, label{
    display: table-cell;
}

.column{
    float: left;
    margin: 10px 80px 10px 10px;
}

input[type='text'], input[type='password'],
input[type='email']{
    margin: 0 0 25px 5px;
    border-radius: 7px;
    width: 95%;
}

#errorReg{
    color: red;
    margin-left: 5px;
}

#header{
    height: 200px;
    width: 100%;
    background-color: yellow;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

#social_share{
    width: 100%;
    height: 35px;
    background-color: black;
}

#social_share ul{
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;

}

#social_share li{
    display: inline-block;
}

#social_share p{
    color: white;
    float: left;
    margin-left: 15px;
    margin-top: 10px
}

#logo{
    height: 190px;
    width: 210px;
    margin-left: 80px;
    margin-top: 5px;
    background-color: black;
    border-radius: 50%; 
}

#logo h1{
    padding-top: 25px;
    text-align: center;
    color: white;
    font-size: 100pt;
    margin: 0px;
}


#content{
    display: inline-block;
    width: 56%;
    min-height: 600px;
    margin: 20px 10px 20px 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    padding: 10px;
}

#info{
    text-justify: inter-word;
    text-align: justify;
}

#info li{
    margin-left: 50px;
}

#navigation{
    float: left;
    width: 20%;
    background: black;
}

#menu{
    width: 190px;
    margin-left: 25px;
}

#menu a{
    display: block;
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: white;
}

#menu li{
    background: black;
    border-radius: 10px;
    list-style: none;
    margin-bottom: 2.5px;
}

#menu li:hover, #menu li:active{
    border: 2px;
    border-color: yellow;
    border-style: outset;
}

#side2{
    float: right;
    background: transparent;
    width: 20%;
}

#foto_p{
    float: left;
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
}

.scrollable{
    position: relative;
}

.scrollable form, .scrollable p{
    width: 100%;
}

#logtab, #player, #menu{
    margin-top: 20px ;
    padding: 10px;  
    background: yellow;
    border-radius: 20px;
    border: 1px solid black;
}

.ele_team{
    border: solid black 1px;
    height: 60px;
    width: 50px;
    margin: 0 1px 2px 1px;
}

.strips{
    height: 60px;
    width: 100%;
    position: relative;
    list-style: none;
}

#difesa{
    top: 100px;
}

#centrocampo{
    top: 180px;
}

#attacco{
    top: 240px;
}

.titolari{
    opacity: 0.6;
    border-style: inset;
    background-color: #ffffff;
    height: 60px;
    width: 50px;
    position: relative;
    display: inline-block;
}

#portiere{
    top: 45px;
    left: 230px;
}

#ele_container{
    width: 30%;
    float: left;
}

.ele_team{
    float: left;
    border: solid black 1px;
    height: 60px;
    width: 50px;
    margin-bottom: 2px;
}

#campo_calcio{
    float: right;
    height: 540px;
    width: 70%;
    background-image: url('../img/campo_template.jpg');
    background-size: 100% 100%;
}

#campo_calcio p{
    margin: 10px;
}

#clear{
    clear: both;
    height: 0px;
    width: 0px;
}

footer{
    height: 100px;
    width: 100%;
    background-color: yellow;
}